<div class="admin-wrap">

  <div class="header">
    <h1>Panel Admin</h1>

    <div class="actions">
      <a routerLink="/admin/crear" class="btn">➕ Crear Tour</a>
      <a routerLink="/admin/tours" class="btn ghost">📋 Ver Tours</a>
    </div>
  </div>

  <div class="stats">
    <div class="stat">
      <strong>{{ tours.length }}</strong>
      <span>Tours creados</span>
    </div>

    <div class="stat">
       <strong>$ {{ getTotalRevenue() | number }}</strong>
      <span>Total precios</span>
    </div>
  </div>

</div>


