<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">
      <div class="card card-soft">
        <div class="card-body p-4">
          <h2 class="fw-bold text-center mb-3">Crear cuenta</h2>
          <p class="text-muted text-center mb-4">Regístrate como usuario o guía</p>

          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input class="form-control form-control-lg" formControlName="nombre" />
            </div>

            <div class="mb-3">
              <label class="form-label">Correo</label>
              <input class="form-control form-control-lg" type="email" formControlName="email" />
            </div>

            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <input class="form-control form-control-lg" type="password" formControlName="password" />
            </div>

            <div class="mb-4">
              <label class="form-label">Rol</label>
              <select class="form-select form-select-lg" formControlName="rol">
                <option value="ROLE_USER">Usuario</option>
                <option value="ROLE_GUIA">Guía</option>
              </select>
            </div>

            <button class="btn btn-dark btn-lg w-100 btn-soft" [disabled]="loading">
              {{ loading ? 'Registrando...' : 'Registrarme' }}
            </button>
          </form>

          <div class="text-center mt-3">
            <a routerLink="/login" class="text-decoration-none">Ya tengo cuenta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
